.CityItemCardWrapper {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.CityItemCard {
    background-color: rgba(19, 46, 121, 0.448);
    border-radius: 10px;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    margin: 0 0.3rem 0.3rem 0.3rem;
}

.CityItemCardMonth {
    text-transform: uppercase;
    font-size: 0.8rem;
    height: 1.5rem;
    color:white;
    font-weight: 600;
}

.CityItemCardIcon {
    margin: 5px 0;
    filter: invert(100%);
}

.CityItemCardTemp {
    font-size: 0.8rem;
    color:white;
    font-weight: 600;
}

@media screen and (max-width: 375px) {
    .CityItemCardMonth {
        font-size: 0.6rem;
        height: 1rem;
    }

    .CityItemCardIcon {
        display: none;
    }

    .CityItemCardTemp {
        font-size: 0.6rem;
        font-weight: 500;
        text-decoration: overline;
    }
}