.CitiesList {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.citiesListTableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.CitiesListTable {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 1em;
  background-color: #00008039;
  border-radius: 20px;
  padding: 0 1rem 0 1rem;
}

.CitiesListTableMonthColumnsTableHead {
  text-align: center;
  font-size: 0.9rem;
  color: #AA8300;
  height: 1.5rem;
  border-bottom: 1px solid #AA8300;
  min-width: 37px;
}

.CitiesListTableMonthColumns {
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 800;
  color: #c99a3e;
}

.CitiesListTableCityColumn {
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: #11516c;
  width: 130px;
}

/* styling according to temperatures */

.color-20andMore {
  color: #000080
}
.color-20to-15 {
  color: #191970
}
.color-15to-10 {
  color: #4169E1
}
.color-10to-5 {
  color: #489fc2
}
.color-5to0 {
  color: #70a8da
}
.color0to5 {
  color: white
}
.color5to10 {
  color: #d48c98
}
.color10to15 {
  color: #FF2400
}
.color15to20 {
  color: #DC143C
}
.color20to25 {
  color: #800020
}
.color25to30 {
  color: #800000
}
.color30plus {
  color: #8B0000
}
