.CitiesList {
  width: 100%;
 
}

.citiesListTableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.CitiesListTable {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 1em;
  background-color: #26008050;
  border-radius: 20px;
  padding: 0 1rem 0 1rem;
}

.CitiesListTableMonthColumnsTableHead {
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
  height: 1.5rem;
  border-bottom: 1px solid #ffffff;
  min-width: 37px;
}

.CitiesListTableMonthColumns {
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 800;
  color: #c99a3e;
}

.CitiesListTableCityColumn {
  font-family: "Montserrat";
  font-size: 0.9rem;
  /* color: #11516c; */
  color: rgb(241, 232, 232);
  width: 130px;
}

/* styling according to temperatures */

.color-20andMore {
  color: #000080
}
.color-20to-15 {
  color: #191970
}
.color-15to-10 {
  color: #14369c
}
.color-10to-5 {
  color: #156483
}
.color-5to0 {
  color: #a1bcd4
}
.color0to5 {
  color: rgb(212, 194, 194)
}
.color5to10 {
  color: #af4c5b
}
.color10to15 {
  color: #9c4b3f
}
.color15to20 {
  color: #c51337
}
.color20to25 {
  color: #800020
}
.color25to30 {
  color: #800000
}
.color30plus {
  color: #8B0000
}
