.citiesListTableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.CitiesListTable {
  width: 90%;
}

.CitiesListTable tr {
  height: 2rem;
}

.CitiesListTableMonthColumnsTableHead {
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: #ffc759;
  height: 1.5rem;
  border-bottom: 1px solid #ffc759;
  min-width: 37px;
}

.CitiesListTableMonthColumns {
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: #c99a3e;
}

.CitiesListTableCityColumn {
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: #1f96c9;
  width: 130px;
}

.CitiesListPaginationWrapper {
  display: flex;
  justify-content: center;
  width: 80%;
}

.CitiesListPagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: #1f96c9;
}

.CitiesListPagination li {
  min-width: 1rem;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
  margin: 0 0.2rem 0 0.2rem;
}

.CitiesListPagination button {
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: #1f96c9;
  cursor: pointer;
}

/* TODO make it responsive */
