* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

.SearchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.search {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search input {
  background-color: white;
  border:0;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 15rem;
}

.searchIcon {
  height: 1rem;
  width: 2rem;
  background-color: white;
  display: grid;
  place-items: center;
}
input:focus{
    outline: none;
}

#clearBtn {
  cursor: pointer;
}