.CitiesList {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.SearchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.search {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search input {
  background-color: white;
  border:0;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 15rem;
}

.searchIcon {
  height: 1rem;
  width: 2rem;
  background-color: white;
  display: grid;
  place-items: center;
}
input:focus{
    outline: none;
}

.CitiesListTableMonthColumns {
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 800;
  color: #c99a3e;
}

.CitiesListTableCityColumn {
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: #11516c;
  width: 130px;
}

/* styling according to temperatures */

.color-20andMore {
  color: #000080
}
.color-20to-15 {
  color: #191970
}
.color-15to-10 {
  color: #4169E1
}
.color-10to-5 {
  color: #489fc2
}
.color-5to0 {
  color: #70a8da
}
.color0to5 {
  color: white
}
.color5to10 {
  color: #d48c98
}
.color10to15 {
  color: #FF2400
}
.color15to20 {
  color: #c51337
}
.color20to25 {
  color: #800020
}
.color25to30 {
  color: #800000
}
.color30plus {
  color: #8B0000
}
